<form (submit)="updejtujZirafu()">
    <div class="col-md-12">
        <div class="form-group">
            <label>Ime</label>
            <input name="ime" [(ngModel)]="editovanaZirafa.ime" class="form-control" />
        </div>
        <div class="form-group">
            <label>Kilaza</label>
            <input name="kilaza" type="number" [(ngModel)]="editovanaZirafa.kilaza" class="form-control" />
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Sacuvaj</button>
  </form>
  