<form (submit)="dodajZirafu()">

<div class="col-md-12">
    <div class="form-group">
        <label>Ime</label>
        <input name="ime" [(ngModel)]="novaZirafa.ime" class="form-control" />
    </div>
    <div class="form-group">
        <label>Kilaza</label>
        <input name="kilaza" [(ngModel)]="novaZirafa.kilaza" class="form-control" type="number" />
    </div>
    
 </div>
 <button class="btn btn-primary" type="submit">Dodaj</button>
</form>