<div class="form-group">
<label>Search</label>
<input class="form-control" [(ngModel)]="searchString"/>
  </div>
<table style="width:100%;table-layout:fixed;">
    <tr>
      <th *ngFor="let column of conf">{{column.label}}</th>
      <th></th>
    </tr>
    <tr>
      <td *ngFor="let column of conf"><input/></td>
    </tr>
    <tr *ngFor="let zirafa of model.zirafe | filterPoStringu:searchString">
      <td *ngFor="let column of conf">{{zirafa[column.key]}}</td>
      <td><button class="btn btn-danger" (click)="obrisiZirafu(zirafa.id)">iks</button></td>
      <td><button class="btn btn-warning" (click)="editujZirafu(zirafa.id)">Edit</button></td>
    </tr>
</table>