<div class="main_nav">	
  <div class="sub_menu">
    <div>Menu</div>
      <a *ngFor="let link of model.linkovi"
       (click)="model.goToPath(link.putanja)">{{link.naziv}}</a>
     
  </div>


  
</div>